<div class="navbar bg-base-200 rounded-2xl shadow-sm">
  <div class="flex-1">
    <a class="ml-4 font-semibold text-xl" href="/">Want-to-read</a>
  </div>

  <div class="flex-none">
    <ng-container *ngIf="this.isSuper()">
      <a href="/admin" class="btn btn-ghost"> Admin </a>
    </ng-container>

    <ng-container *ngIf="this.isLoggedIn()">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn m-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            viewBox="0 0 16 16"
          >
            <path
              d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"
            />
          </svg>
        </div>
        <ul
          tabindex="0"
          class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm"
        >
          <li><a (click)="logOut()">Log out</a></li>
          <li><a href="/change-password">Change password</a></li>
        </ul>
      </div>
    </ng-container>
  </div>
</div>
